{% extends "base.html" %} 
{% block mainContainer %}
	<br>
	<form action="/places">
		Search in Title: <input type="text" name="q" value="{{q}}"> <input type="submit" value="Search">
		Search in URL: <input type="text" name="hq" value="{{hq}}"> <input type="submit" value="Search">
	</form>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Host</th>
				<th>URL</th>
				<th>Typed</th>
				<th>Times Used</th>
				<th>Last Used Date</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<th scope="row">{{loop.index}}</th>
				<td>{{item.text}}</td>
				<td>{{item.host}}</td>
				<td>{{item.url}}</td>
				<td>{{item.typed}}</td>
				<td>{{item.count}}</td>
				<td>{{item.lastUsedDate}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
